# Thanks gitignore.io!!!

### Sublime Text is bae ###

# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project

# sftp configuration file
sftp-config.json

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# External disk stuff
.Spotlight-V100
.Trashes

# Directories caused by AFP
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
